@import 'tailwindcss';

table.list {
  width:100%;

  thead {
    width: 100%;
    tr {
      height: 2em;
    }
  }
  td {
      padding: 10px 10px;
  }
}

.edit-text {
  margin-top: 0.8em;
  label { 
    span  {
      font-size: small;
      color: #aaaaaa;
      display: block;
    }
    input{
      border-bottom: solid 1px #cccccc;
      width: 100%;
    }
  }

}